.nav-item .nav-link {
  display: flex !important;
  align-items: center !important;
}

.nav-item .nav-icon {
  margin-right: 0.7rem !important;
}

.box-title {
  display: flex;
  align-items: center;
}

.box-title .title-icon {
  margin-right: 0.7rem;
}

.icon-center {
  vertical-align: middle;
  font-size: 20px;
  margin-top: -3px;
  margin-right: 5px;
}

.btn-sm .icon-center {
  font-size: 16px;
  margin-top: -4px;
  margin-right: 3px;
}

